<!DOCTYPE html>
<html lang="en" data-bs-theme="light" data-pwa="true">
<head>
    
    {% include "incs/metas.html" %}
    <!-- SEO Meta Tags -->
    <title>
      {% block title %} Sign into - Laundry & Fashion {% endblock title %}
    </title>

</head>
<body>
    
    {% block content %}
    <!-- Page content -->
    <main class="content-wrapper w-100 px-3 ps-lg-5 pe-lg-4 mx-auto" style="max-width: 1920px">
        <div class="d-lg-flex">
  
          <!-- Login form + Footer -->
          <div class="d-flex flex-column min-vh-100 w-100 py-4 mx-auto me-lg-5" style="max-width: 416px">
  
            <!-- Logo -->
            <header class="navbar px-0 pb-4 mt-n2 mt-sm-0 mb-2 mb-md-3 mb-lg-4">
              <a class="navbar-brand pt-0" href="./">
                
                <span class="d-flex flex-shrink-0 text-primary rtl-flip me-2">
                 <img src="./static/img/logo_11.png" alt="">
                </span>
                Simplylovely 
              </a>

              <a class="nav-link badge text-decoration-none rounded-pill p-1 ml-1 text-bg-info" href="./">
                  <i class="fi-skip-back fs-md"></i> Back 
              </a>

            </header>
  
            <h1 class="h2 mt-auto">Create an account</h1>
            <div class="nav fs-sm mb-3 mb-lg-4">
              I already have an account
              <a class="nav-link badge text-decoration-none rounded-pill p-1 ml-1 text-bg-info" href="./signin">Sign in</a>
            </div>
            <div class="nav fs-sm mb-4 d-lg-none">
              <span class="me-2">Uncertain about creating an account?</span>
              <a class="text-decoration-none rounded-pill p-1 text-bg-info" href="#benefits" data-bs-toggle="offcanvas" aria-controls="benefits">Explore the Benefits</a>
            </div>
  
            <!-- Form -->
            <form class="needs-validation" id="signup_form" method="post" action="/users/signup" novalidate="">
              
            <div class="position-relative mb-4">
                <label for="email" class="form-label">Username</label>
                <input type="text" name="username" placeholder="enter/choose your username" class="form-control form-control-lg" id="username" required="">
                <div class="invalid-tooltip bg-transparent py-0">Must enter/choose your username!</div>
            </div>

            <div class="position-relative mb-4">
                <label for="email" class="form-label">Email</label>
                <input type="email" name="email" placeholder="valid email address" class="form-control form-control-lg" id="email" required="">
                <div class="invalid-tooltip bg-transparent py-0">Enter a valid email address!</div>
            </div>

            <div class="position-relative mb-4">
                <label for="phone" class="form-label">Phone</label>
                <input type="tel" name="phone" placeholder="active phone number" class="form-control form-control-lg" id="phone" required="">
                <div class="invalid-tooltip bg-transparent py-0">Enter a valid phone number!</div>
            </div>

              <div class="mb-4">
                <label for="password" class="form-label">Password</label>
                <div class="password-toggle">
                  <input type="password" name="password" class="form-control form-control-lg" id="password" minlength="4" placeholder="Minimum 4 characters" required="">
                  <div class="invalid-tooltip bg-transparent py-0">Password does not meet the required criteria!</div>
                  <label class="password-toggle-button fs-lg" aria-label="Show/hide password">
                    <input type="checkbox" class="btn-check">
    </label>

                </div>
              </div>
              <div class="d-flex flex-column gap-2 mb-4">
              
                <div class="form-check">
                  <input type="checkbox" checked class="form-check-input" id="privacy" required="">
                  <label for="privacy" class="form-check-label">I have read and accept the 
                    <a class="text-dark-emphasis" href="#!">Privacy Policy</a></label>
                </div>
              </div>
              <button type="submit" class="btn btn-lg btn-info w-100 btn-rounded rounded-pill">
                Create an account
                <i class="fi-chevron-right fs-lg ms-1 me-n1"></i>
              </button>
            </form>
  
            <!-- Divider -->
            <div class="d-flex align-items-center my-4">
              <hr class="w-100 m-0">
              <span class="text-body-emphasis fw-medium text-nowrap mx-4">or continue with</span>
              <hr class="w-100 m-0">
            </div>
  
            <!-- Social login -->
            <div class="d-flex flex-column flex-sm-row gap-3 pb-4 mb-3 mb-lg-4">
              <button type="button" class="btn btn-lg btn-outline-secondary w-100 px-2">
                <i class="fi-google ms-1 me-1"></i>
                Google
              </button>
              <button type="button" class="btn disabled btn-lg btn-outline-secondary w-100 px-2">
                <i class="fi-facebook ms-1 me-1"></i>
                Facebook
              </button>
              <button type="button" class="btn disabled btn-lg btn-outline-secondary w-100 px-2">
                <i class="fi-apple ms-1 me-1"></i>
                Apple
              </button>
            </div>
  
          </div>
  
  
          <!-- Benefits section that turns into offcanvas on screens < 992px wide (lg breakpoint) -->
          <div class="offcanvas-lg offcanvas-end w-100 py-lg-4 ms-auto" id="benefits" style="max-width: 1034px">
            <div class="offcanvas-header justify-content-end position-relative z-2 p-3">
              <button type="button" class="btn btn-icon btn-outline-dark text-dark border-dark bg-transparent rounded-circle d-none-dark" data-bs-dismiss="offcanvas" data-bs-target="#benefits" aria-label="Close">
                <i class="fi-close fs-lg"></i>
              </button>
              <button type="button" class="btn btn-icon btn-outline-dark text-light border-light bg-transparent rounded-circle d-none d-inline-flex-dark" data-bs-dismiss="offcanvas" data-bs-target="#benefits" aria-label="Close">
                <i class="fi-close fs-lg"></i>
              </button>
            </div>
            <span class="position-absolute top-0 start-0 w-100 h-100 bg-info-subtle d-lg-none"></span>
            <div class="offcanvas-body position-relative z-2 d-lg-flex flex-column align-items-center justify-content-center h-100 pt-2 px-3 p-lg-0">
              <span class="position-absolute top-0 start-0 w-100 h-100 bg-info-subtle rounded-5 d-none d-lg-block"></span>
              <div class="position-relative z-2 w-100 text-center px-md-2 p-lg-5">
                <h2 class="h4 pb-3">Simplylovely account benefits</h2>
                <div class="mx-auto" style="max-width: 790px">
                  <div class="row row-cols-1 row-cols-sm-2 g-3 g-md-4 g-lg-3 g-xl-4">
                    <div class="col">
                      <div class="card h-100 bg-transparent border-0">
                        <span class="position-absolute top-0 start-0 w-100 h-100 bg-white border border-white border-opacity-75 rounded-4 d-none-dark" style="--fn-bg-opacity: .3"></span>
                        <span class="position-absolute top-0 start-0 w-100 h-100 bg-white border rounded-4 d-none d-block-dark" style="--fn-bg-opacity: .05"></span>
                        <div class="card-body position-relative z-2">
                          <div class="d-inline-flex position-relative text-info p-3">
                            <span class="position-absolute top-0 start-0 w-100 h-100 bg-white rounded-pill d-none-dark"></span>
                            <span class="position-absolute top-0 start-0 w-100 h-100 bg-body-secondary rounded-pill d-none d-block-dark"></span>
                            <i class="fi-mail position-relative z-2 fs-4 m-1"></i>
                          </div>
                          <h3 class="h6 pt-2 my-2">Get discount updates</h3>
                        </div>
                      </div>
                    </div>
                    <div class="col">
                      <div class="card h-100 bg-transparent border-0">
                        <span class="position-absolute top-0 start-0 w-100 h-100 bg-white border border-white border-opacity-75 rounded-4 d-none-dark" style="--fn-bg-opacity: .3"></span>
                        <span class="position-absolute top-0 start-0 w-100 h-100 bg-white border rounded-4 d-none d-block-dark" style="--fn-bg-opacity: .05"></span>
                        <div class="card-body position-relative z-2">
                          <div class="d-inline-flex position-relative text-info p-3">
                            <span class="position-absolute top-0 start-0 w-100 h-100 bg-white rounded-pill d-none-dark"></span>
                            <span class="position-absolute top-0 start-0 w-100 h-100 bg-body-secondary rounded-pill d-none d-block-dark"></span>
                            <i class="fi-settings position-relative z-2 fs-4 m-1"></i>
                          </div>
                          <h3 class="h6 pt-2 my-2">Manage your subscriptions.</h3>
                        </div>
                      </div>
                    </div>
                    <div class="col">
                      <div class="card h-100 bg-transparent border-0">
                        <span class="position-absolute top-0 start-0 w-100 h-100 bg-white border border-white border-opacity-75 rounded-4 d-none-dark" style="--fn-bg-opacity: .3"></span>
                        <span class="position-absolute top-0 start-0 w-100 h-100 bg-white border rounded-4 d-none d-block-dark" style="--fn-bg-opacity: .05"></span>
                        <div class="card-body position-relative z-2">
                          <div class="d-inline-flex position-relative text-info p-3">
                            <span class="position-absolute top-0 start-0 w-100 h-100 bg-white rounded-pill d-none-dark"></span>
                            <span class="position-absolute top-0 start-0 w-100 h-100 bg-body-secondary rounded-pill d-none d-block-dark"></span>
                            <i class="fi-gift position-relative z-2 fs-4 m-1"></i>
                          </div>
                          <h3 class="h6 pt-2 my-2">Subscribe to a service on the go.</h3>
                        </div>
                      </div>
                    </div>
                    <div class="col">
                      <div class="card h-100 bg-transparent border-0">
                        <span class="position-absolute top-0 start-0 w-100 h-100 bg-white border border-white border-opacity-75 rounded-4 d-none-dark" style="--fn-bg-opacity: .3"></span>
                        <span class="position-absolute top-0 start-0 w-100 h-100 bg-white border rounded-4 d-none d-block-dark" style="--fn-bg-opacity: .05"></span>
                        <div class="card-body position-relative z-2">
                          <div class="d-inline-flex position-relative text-info p-3">
                            <span class="position-absolute top-0 start-0 w-100 h-100 bg-white rounded-pill d-none-dark"></span>
                            <span class="position-absolute top-0 start-0 w-100 h-100 bg-body-secondary rounded-pill d-none d-block-dark"></span>
                            <i class="fi-percent position-relative z-2 fs-4 m-1"></i>
                          </div>
                          <h3 class="h6 pt-2 my-2">Monitor and track usage.</h3>
                        </div>
                      </div>
                    </div>
                    <div class="col">
                      <div class="card h-100 bg-transparent border-0">
                        <span class="position-absolute top-0 start-0 w-100 h-100 bg-white border border-white border-opacity-75 rounded-4 d-none-dark" style="--fn-bg-opacity: .3"></span>
                        <span class="position-absolute top-0 start-0 w-100 h-100 bg-white border rounded-4 d-none d-block-dark" style="--fn-bg-opacity: .05"></span>
                        <div class="card-body position-relative z-2">
                          <div class="d-inline-flex position-relative text-info p-3">
                            <span class="position-absolute top-0 start-0 w-100 h-100 bg-white rounded-pill d-none-dark"></span>
                            <span class="position-absolute top-0 start-0 w-100 h-100 bg-body-secondary rounded-pill d-none d-block-dark"></span>
                            <i class="fi-heart position-relative z-2 fs-4 m-1"></i>
                          </div>
                          <h3 class="h6 pt-2 my-2">Get support as soon as possible.</h3>
                        </div>
                      </div>
                    </div>
                    <div class="col">
                      <div class="card h-100 bg-transparent border-0">
                        <span class="position-absolute top-0 start-0 w-100 h-100 bg-white border border-white border-opacity-75 rounded-4 d-none-dark" style="--fn-bg-opacity: .3"></span>
                        <span class="position-absolute top-0 start-0 w-100 h-100 bg-white border rounded-4 d-none d-block-dark" style="--fn-bg-opacity: .05"></span>
                        <div class="card-body position-relative z-2">
                          <div class="d-inline-flex position-relative text-info p-3">
                            <span class="position-absolute top-0 start-0 w-100 h-100 bg-white rounded-pill d-none-dark"></span>
                            <span class="position-absolute top-0 start-0 w-100 h-100 bg-body-secondary rounded-pill d-none d-block-dark"></span>
                            <i class="fi-pie-chart position-relative z-2 fs-4 m-1"></i>
                          </div>
                          <h3 class="h6 pt-2 my-2">Easy access to services.</h3>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </main>
    {% endblock content %}
    {% include "incs/modals/response_modal.html" %}
    {% include "incs/bottom_js.html" %}

</body>
</html>