    <!-- Page footer -->
    <footer class="footer bg-body border-top" data-bs-theme="dark">
        <div class="container pb-md-2">

            <!-- Logo + Social buttons + Links  -->
            <div class="accordion row pt-4 pt-sm-5 mt-3 mt-sm-0" id="footerLinks">
                <div class="col-md-4 col-lg-5 mb-4 mb-sm-5 mb-md-0">
                    <a class="d-inline-flex align-items-center text-dark-emphasis text-decoration-none mb-3"
                        href="#">
                        <span class="flex-shrink-0 text-primary rtl-flip me-2">
                            <img src="./static/img/logo_11.png" alt="">
                        </span>
                        <!--  -->
                        <!-- <div class="d-flex align-items-center text-body-emphasis bg-white rounded-pill shadow px-3" style="padding: 10px 0">
                            <span class="flex-shrink-0 me-2">
                                <img src="./static/img/logo_11.png" alt="">
                            </span>
                        </div> -->
                        <!--  -->
                        <span class="fs-4 fw-semibold">SimplyLovely</span>
                    </a>
                    <p class="fs-sm text-body-secondary pt-md-1" style="max-width: 260px">
                        We combine expert laundry care with fashion-forward services, ensuring your garments
                        look impeccable and reflect your personal styles.
                    </p>
                    <div class="d-flex gap-3 pt-2 pt-md-3">
                        <a class="btn btn-icon btn-sm btn-secondary rounded-circle" href="#!"
                            aria-label="Follow us on Instagram">
                            <i class="fi-instagram fs-sm"></i>
                        </a>
                        <a class="btn btn-icon btn-sm btn-secondary rounded-circle" href="#!"
                            aria-label="Follow us on Facebook">
                            <i class="fi-facebook fs-sm"></i>
                        </a>
                        <a class="btn btn-icon btn-sm btn-secondary rounded-circle" href="#!"
                            aria-label="Follow us on X (Twitter)">
                            <i class="fi-x fs-sm"></i>
                        </a>
                    </div>
                </div>

                <!-- Column with links that are turned into accordion on screens < 500px wide (sm breakpoint) -->
                <div class="col-sm-8 col-md-5 col-lg-4">
                    <div class="accordion-item border-0">
                        <h6 class="accordion-header" id="categoryLinksHeading">
                            <span class="h5 d-none d-sm-block">Laundry</span>
                            <button type="button" class="accordion-button collapsed py-3 d-sm-none"
                                data-bs-toggle="collapse" data-bs-target="#categoryLinks" aria-expanded="false"
                                aria-controls="categoryLinks">Popular
                                categories</button>
                        </h6>
                        <div class="accordion-collapse collapse d-sm-block" id="categoryLinks"
                            aria-labelledby="categoryLinksHeading" data-bs-parent="#footerLinks">
                            <div class="row row-cols-2">
                                <div class="col">
                                    <ul class="nav flex-column gap-2 pt-sm-1 pt-lg-2 pb-3 pb-sm-0 mt-n1 mb-1 mb-sm-0">
                                        <li class="pt-1">
                                            <a class="nav-link hover-effect-underline d-inline text-body fw-normal p-0"
                                                href="#!">Schedule pick up</a>
                                        </li>
                                        <li class="pt-1">
                                            <a class="nav-link hover-effect-underline d-inline text-body fw-normal p-0"
                                                href="#!">Request delivery</a>
                                        </li>
                                    </ul>
                                </div>
                                <!-- <div class="col">
                                    <ul class="nav flex-column gap-2 pt-sm-1 pt-lg-2 pb-3 pb-sm-0 mt-n1 mb-1 mb-sm-0">
                                        <li class="pt-1">
                                            <a class="nav-link hover-effect-underline d-inline text-body fw-normal p-0"
                                                href="#!">Cleaning</a>
                                        </li>
                                        <li class="pt-1">
                                            <a class="nav-link hover-effect-underline d-inline text-body fw-normal p-0"
                                                href="#!">Heating
                                                &amp; furnace</a>
                                        </li>
                                        <li class="pt-1">
                                            <a class="nav-link hover-effect-underline d-inline text-body fw-normal p-0"
                                                href="#!">Carpentry</a>
                                        </li>
                                        <li class="pt-1">
                                            <a class="nav-link hover-effect-underline d-inline text-body fw-normal p-0"
                                                href="#!">Flooring</a>
                                        </li>
                                        <li class="pt-1">
                                            <a class="nav-link hover-effect-underline d-inline text-body fw-normal p-0"
                                                href="#!">Pest
                                                control</a>
                                        </li>
                                        <li class="pt-1">
                                            <a class="nav-link hover-effect-underline d-inline text-body fw-normal p-0"
                                                href="#!">Landscaping</a>
                                        </li>
                                    </ul>
                                </div> -->
                            </div>
                        </div>
                        <hr class="d-sm-none my-0">
                    </div>
                </div>

                <!-- Column with links that are turned into accordion on screens < 500px wide (sm breakpoint) -->
                <div class="col-sm-4 col-md-3 col-lg-2 offset-lg-1">
                        <div class="accordion-item border-0">
                            <h6 class="accordion-header" id="companyLinksHeading">
                                <span class="h5 d-none d-sm-block">Fashion</span>
                                <button type="button" class="accordion-button collapsed py-3 d-sm-none"
                                    data-bs-toggle="collapse" data-bs-target="#companyLinks" aria-expanded="false"
                                    aria-controls="companyLinks">For men</button>
                            </h6>
                            <div class="accordion-collapse collapse d-sm-block" id="companyLinks"
                                aria-labelledby="companyLinksHeading" data-bs-parent="#footerLinks">
                                <ul class="nav flex-column gap-2 pt-sm-1 pt-lg-2 pb-3 pb-sm-0 mt-n1 mb-1 mb-sm-0">
                                    <li class="pt-1">
                                        <a class="nav-link hover-effect-underline d-inline text-body fw-normal p-0"
                                            href="#!">For women</a>
                                    </li>
                                    <li class="pt-1">
                                        <a class="nav-link hover-effect-underline d-inline text-body fw-normal p-0"
                                            href="#!">Children ankara designers</a>
                                    </li>
                                    <li class="pt-1">
                                        <a class="nav-link hover-effect-underline d-inline text-body fw-normal p-0"
                                            href="#!">Ankaras and Natives</a>
                                    </li>
                                    <li class="pt-1">
                                        <a class="nav-link hover-effect-underline d-inline text-body fw-normal p-0"
                                            href="#!">Contact us</a>
                                    </li>
                                    <li class="pt-1">
                                        <a class="nav-link hover-effect-underline d-inline text-body fw-normal p-0"
                                            href="#!">Terms of use</a>
                                    </li>
                                    <li class="pt-1">
                                        <a class="nav-link hover-effect-underline d-inline text-body fw-normal p-0"
                                            href="#!">Privacy</a>
                                    </li>
                                </ul>
                            </div>
                            <hr class="d-sm-none my-0">
                        </div>
                    </div>
            </div>

            <!-- Copyright + Payment methods -->
            <div class="d-md-flex align-items-center py-4 pt-sm-5 mt-3 mt-sm-0">
                <div class="d-flex gap-2 gap-sm-3 justify-content-center ms-md-auto mb-4 mb-md-0 order-md-2">
                    <div>
                        <img src="static/img/payment-methods/visa-dark-mode.svg" alt="Visa">
                    </div>
                    <div>
                        <img src="static/img/payment-methods/mastercard.svg" alt="Mastercard">
                    </div>
                </div>
                <p class="text-body-secondary fs-sm text-center text-md-start mb-0 me-md-4 order-md-1">© All rights
                    reserved.
                    Made by <a class="text-body fw-medium text-decoration-none hover-effect-underline"
                        href="https://dunistech.ng/" target="_blank" rel="noreferrer">Dunistech Software Engineering
                        dept.</a></p>
            </div>
        </div>
    </footer>

    <!-- Back to top button -->
    <div class="floating-buttons position-fixed top-50 end-0 z-sticky me-3 me-xl-4 pb-4">
        <a class="btn-scroll-top btn btn-sm bg-body border-0 rounded-pill shadow animate-slide-end" href="#top">
            Top
            <i class="fi-arrow-right fs-base ms-1 me-n1 animate-target"></i>
            <span class="position-absolute top-0 start-0 w-100 h-100 border rounded-pill z-0"></span>
            <svg class="position-absolute top-0 start-0 w-100 h-100 z-1" viewBox="0 0 62 32" fill="none"
                xmlns="http://www.w3.org/2000/svg">
                <rect x=".75" y=".75" width="60.5" height="30.5" rx="15.25" stroke="currentColor" stroke-width="1.5"
                    stroke-miterlimit="10"></rect>
            </svg>
        </a>
    </div>
