<meta charset="utf-8">
<!-- Viewport -->
<meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1, viewport-fit=cover">
<!-- SEO Meta Tags -->
<meta name="description" content="SimplyLovely - We combine expert laundry care with fashion-forward services, ensuring your garments
look impeccable and reflect your personal styles.">
<meta name="keywords"
    content="lovely, clothes, ironing, cleaner, real estate, city guide, business listings, medical directories, 
    event listings, e-commerce, market, multipurpose, ui kit, fashion, laundry, tech, 
    gallery, slider, mobile, pwa">
<meta name="author" content="Dunis Software Engr Dept.">

<!-- Webmanifest + Favicon / App icons -->
<meta name="apple-mobile-web-app-status-bar-style" content="black">
<link rel="manifest" href="./static/js/manifest.json">
<link rel="icon" type="image/png" href="./static/img/logo_11.png" sizes="32x32">
<link rel="apple-touch-icon" href="./static/img/logo_11.png">

<!-- Theme switcher (color modes) -->
<script src="static/js/theme-switcher.js"></script>

<!-- Preloaded local web font (Inter) -->
<link rel="preload" href="./static/fonts/inter-variable-latin.woff2" as="font" type="font/woff2" crossorigin="">

<!-- Font icons -->
<link rel="preload" href="./static/icons/finder-icons.woff2" as="font" type="font/woff2" crossorigin="">
<link rel="stylesheet" href="./static/icons/finder-icons.min.css">

<!-- Vendor styles -->
<link rel="stylesheet" href="./static/vendor/swiper/swiper-bundle.min.css">

<!-- Bootstrap + Theme styles -->
<link rel="preload" href="./static/css/theme.min.css" as="style">
<link rel="preload" href="./static/css/theme.rtl.min.css" as="style">
<link rel="stylesheet" href="./static/css/theme.min.css" id="theme-styles">
<link rel="stylesheet" href="./static/vendor/choices_js/choices.min.css" id="theme-styles">