  <!-- Popular categories -->
  <section class="container py-2 py-sm-3 py-md-4 py-lg-5 my-xxl-3">
    <div class="d-md-flex align-items-start gap-5 pb-2 pb-sm-3">
      <h2 class="text-nowrap mb-4 mb-md-0">Popular Categories:</h2>
      <div class="d-flex min-w-0 flex-fill gap-4">
        <div class="overflow-x-auto pb-3">
          <ul
            class="nav nav-pills flex-nowrap gap-2 text-nowrap"
            role="tablist"
          >
            <li class="nav-item me-1">
              <a
                class="nav-link text-nowrap cursor-pointer active"
                id="all-categories-tab"
                data-bs-toggle="pill"
                data-bs-target="#all-categories"
                role="tab"
                aria-controls="all-categories"
                aria-selected="true"
              >
                All
              </a>
            </li>
            <li class="nav-item me-1">
              <a
                class="nav-link text-nowrap cursor-pointer"
                id="women-categories-tab"
                data-bs-toggle="pill"
                data-bs-target="#women-categories"
                role="tab"
                aria-controls="women-categories"
                aria-selected="false"
              >
                Women
              </a>
            </li>
            <li class="nav-item me-1">
              <a
                class="nav-link text-nowrap cursor-pointer"
                id="men-categories-tab"
                data-bs-toggle="pill"
                data-bs-target="#men-categories"
                role="tab"
                aria-controls="men-categories"
                aria-selected="false"
              >
                Men
              </a>
            </li>
            <li class="nav-item me-1">
              <a
                class="nav-link text-nowrap cursor-pointer"
                id="children-categories-tab"
                data-bs-toggle="pill"
                data-bs-target="#children-categories"
                role="tab"
                aria-controls="children-categories"
                aria-selected="false"
              >
                Children
              </a>
            </li>
          </ul>
        </div>
        <!--  -->
        <div class="nav ms-auto mb-3 nav-item me-1">
          <a
            class="nav-link position-relative fs-base text-nowrap py-1 px-0 disabled"
            href="listings-events.html"
          >
            <span class="hover-effect-underline stretched-link me-1"
              >More..</span
            >
            <i class="fi-chevron-right fs-lg"></i>
          </a>
        </div>
      </div>
    </div>

    <div class="tab-content">
      <!-- All Categories tab -->
      <div
        class="tab-pane fade active show"
        id="all-categories"
        role="tabpanel"
        aria-labelledby="all-categories-tab"
      >
        <div class="row row-cols-1 row-cols-lg-2 g-4 pb-5">
          <div class="col">
            <article
              class="card hover-effect-scale bg-transparent overflow-hidden"
            >
              <div class="row h-100 g-0">
                <div
                  class="col-sm-4 position-relative bg-body-tertiary overflow-hidden"
                  style="min-height: 178px"
                >
                  <img
                    src="static/img/fashion/01.jpg"
                    class="hover-effect-target position-absolute top-0 start-0 w-100 h-100 object-fit-cover"
                    alt="Image"
                  />
                </div>
                <div
                  class="col-sm-8 card-body d-flex flex-column align-items-start p-3 p-sm-4"
                >
                  <h3 class="h6 mt-1 mt-sm-0 mb-2">
                    <a class="stretched-link hover-effect-underline" href="">
                      Women wears.</a
                    >
                  </h3>
                  <div class="d-flex align-items-center gap-3 mb-4">
                    <div class="d-flex align-items-center gap-1">
                      <i class="fi-star-filled text-warning"></i>
                      <span class="fs-sm text-secondary-emphasis">4.5</span>
                    </div>
                    <div class="fs-sm text-dark-emphasis">ankara</div>
                  </div>
                  <button
                    type="button"
                    class="btn btn-outline-dark position-relative z-2 mt-auto"
                  >
                    Home Service
                  </button>
                </div>
              </div>
            </article>
          </div>

          <!-- Project -->
          <div class="col">
            <article
              class="card hover-effect-scale bg-transparent overflow-hidden"
            >
              <div class="row h-100 g-0">
                <div
                  class="col-sm-4 position-relative bg-body-tertiary overflow-hidden"
                  style="min-height: 178px"
                >
                  <img
                    src="static/img/fashion/02.jpg"
                    class="hover-effect-target position-absolute top-0 start-0 w-100 h-100 object-fit-cover"
                    alt="Image"
                  />
                </div>
                <div
                  class="col-sm-8 card-body d-flex flex-column align-items-start p-3 p-sm-4"
                >
                  <h3 class="h6 mt-1 mt-sm-0 mb-2">
                    <a class="stretched-link hover-effect-underline" href=""
                      >Men's wears.</a
                    >
                  </h3>
                  <div class="d-flex align-items-center gap-3 mb-4">
                    <div class="d-flex align-items-center gap-1">
                      <i class="fi-star-filled text-warning"></i>
                      <span class="fs-sm text-secondary-emphasis">4.3</span>
                    </div>
                    <div class="fs-sm text-dark-emphasis">native</div>
                  </div>
                  <button
                    type="button"
                    class="btn btn-outline-dark position-relative z-2 mt-auto"
                  >
                    Home Service
                  </button>
                </div>
              </div>
            </article>
          </div>

          <!-- Project -->
          <div class="col">
            <article
              class="card hover-effect-scale bg-transparent overflow-hidden"
            >
              <div class="row h-100 g-0">
                <div
                  class="col-sm-4 position-relative bg-body-tertiary overflow-hidden"
                  style="min-height: 178px"
                >
                  <img
                    src="static/img/fashion/03.jpg"
                    class="hover-effect-target position-absolute top-0 start-0 w-100 h-100 object-fit-cover"
                    alt="Image"
                  />
                </div>
                <div
                  class="col-sm-8 card-body d-flex flex-column align-items-start p-3 p-sm-4"
                >
                  <h3 class="h6 mt-1 mt-sm-0 mb-2">
                    <a class="stretched-link hover-effect-underline" href="#">
                      Children's wears.</a
                    >
                  </h3>
                  <div class="d-flex align-items-center gap-3 mb-4">
                    <div class="d-flex align-items-center gap-1">
                      <i class="fi-star-filled text-warning"></i>
                      <span class="fs-sm text-secondary-emphasis">4.7</span>
                    </div>
                    <div class="fs-sm text-dark-emphasis">native</div>
                  </div>
                  <button
                    type="button"
                    class="btn btn-outline-dark position-relative z-2 mt-auto"
                  >
                    Home Service
                  </button>
                </div>
              </div>
            </article>
          </div>

          <!-- Project -->
          <div class="col">
            <article
              class="card hover-effect-scale bg-transparent overflow-hidden"
            >
              <div class="row h-100 g-0">
                <div
                  class="col-sm-4 position-relative bg-body-tertiary overflow-hidden"
                  style="min-height: 178px"
                >
                  <img
                    src="static/img/fashion/04.jpg"
                    class="hover-effect-target position-absolute top-0 start-0 w-100 h-100 object-fit-cover"
                    alt="Image"
                  />
                </div>
                <div
                  class="col-sm-8 card-body d-flex flex-column align-items-start p-3 p-sm-4"
                >
                  <h3 class="h6 mt-1 mt-sm-0 mb-2">
                    <a class="stretched-link hover-effect-underline" href=""
                      >Aseobi - mordern styles.</a
                    >
                  </h3>
                  <div class="d-flex align-items-center gap-3 mb-4">
                    <div class="d-flex align-items-center gap-1">
                      <i class="fi-star-filled text-warning"></i>
                      <span class="fs-sm text-secondary-emphasis">4.9</span>
                    </div>
                    <div class="fs-sm text-dark-emphasis">native</div>
                  </div>
                  <button
                    type="button"
                    class="btn btn-outline-dark position-relative z-2 mt-auto"
                  >
                    Home Service
                  </button>
                </div>
              </div>
            </article>
          </div>
        </div>
      </div>

      <!-- Women Categories tab -->
      <div
        class="tab-pane fade"
        id="women-categories"
        role="tabpanel"
        aria-labelledby="women-categories-tab"
      >
        <!-- Content for Women Categories -->
        <div class="row row-cols-1 row-cols-lg-2 g-4 pb-5">
          <div class="col">
            <article
              class="card hover-effect-scale bg-transparent overflow-hidden"
            >
              <div class="row h-100 g-0">
                <div
                  class="col-sm-4 position-relative bg-body-tertiary overflow-hidden"
                  style="min-height: 178px"
                >
                  <img
                    src="static/img/fashion/01.jpg"
                    class="hover-effect-target position-absolute top-0 start-0 w-100 h-100 object-fit-cover"
                    alt="Image"
                  />
                </div>
                <div
                  class="col-sm-8 card-body d-flex flex-column align-items-start p-3 p-sm-4"
                >
                  <h3 class="h6 mt-1 mt-sm-0 mb-2">
                    <a class="stretched-link hover-effect-underline" href="">
                      Women wears.</a
                    >
                  </h3>
                  <div class="d-flex align-items-center gap-3 mb-4">
                    <div class="d-flex align-items-center gap-1">
                      <i class="fi-star-filled text-warning"></i>
                      <span class="fs-sm text-secondary-emphasis">4.5</span>
                    </div>
                    <div class="fs-sm text-dark-emphasis">ankara</div>
                  </div>
                  <button
                    type="button"
                    class="btn btn-outline-dark position-relative z-2 mt-auto"
                  >
                    Home Service
                  </button>
                </div>
              </div>
            </article>
          </div>
        </div>
      </div>

      <!-- Men Categories tab -->
      <div
        class="tab-pane fade"
        id="men-categories"
        role="tabpanel"
        aria-labelledby="men-categories-tab"
      >
        <!-- Content for Men Categories -->
        <div class="row row-cols-1 row-cols-lg-2 g-4 pb-5">
          <div class="col">
            <article
              class="card hover-effect-scale bg-transparent overflow-hidden"
            >
              <div class="row h-100 g-0">
                <div
                  class="col-sm-4 position-relative bg-body-tertiary overflow-hidden"
                  style="min-height: 178px"
                >
                  <img
                    src="static/img/fashion/02.jpg"
                    class="hover-effect-target position-absolute top-0 start-0 w-100 h-100 object-fit-cover"
                    alt="Image"
                  />
                </div>
                <div
                  class="col-sm-8 card-body d-flex flex-column align-items-start p-3 p-sm-4"
                >
                  <h3 class="h6 mt-1 mt-sm-0 mb-2">
                    <a class="stretched-link hover-effect-underline" href=""
                      >Men's wears.</a
                    >
                  </h3>
                  <div class="d-flex align-items-center gap-3 mb-4">
                    <div class="d-flex align-items-center gap-1">
                      <i class="fi-star-filled text-warning"></i>
                      <span class="fs-sm text-secondary-emphasis">4.3</span>
                    </div>
                    <div class="fs-sm text-dark-emphasis">native</div>
                  </div>
                  <button
                    type="button"
                    class="btn btn-outline-dark position-relative z-2 mt-auto"
                  >
                    Home Service
                  </button>
                </div>
              </div>
            </article>
          </div>
        </div>
      </div>

      <!-- Children Categories tab -->
      <div
        class="tab-pane fade"
        id="children-categories"
        role="tabpanel"
        aria-labelledby="children-categories-tab"
      >
        <!-- Content for Children Categories -->
        <div class="row row-cols-1 row-cols-lg-2 g-4 pb-5">
          <div class="col">
            <article
              class="card hover-effect-scale bg-transparent overflow-hidden"
            >
              <div class="row h-100 g-0">
                <div
                  class="col-sm-4 position-relative bg-body-tertiary overflow-hidden"
                  style="min-height: 178px"
                >
                  <img
                    src="static/img/fashion/03.jpg"
                    class="hover-effect-target position-absolute top-0 start-0 w-100 h-100 object-fit-cover"
                    alt="Image"
                  />
                </div>
                <div
                  class="col-sm-8 card-body d-flex flex-column align-items-start p-3 p-sm-4"
                >
                  <h3 class="h6 mt-1 mt-sm-0 mb-2">
                    <a class="stretched-link hover-effect-underline" href="#">
                      Children's wears.</a
                    >
                  </h3>
                  <div class="d-flex align-items-center gap-3 mb-4">
                    <div class="d-flex align-items-center gap-1">
                      <i class="fi-star-filled text-warning"></i>
                      <span class="fs-sm text-secondary-emphasis">4.7</span>
                    </div>
                    <div class="fs-sm text-dark-emphasis">native</div>
                  </div>
                  <button
                    type="button"
                    class="btn btn-outline-dark position-relative z-2 mt-auto"
                  >
                    Home Service
                  </button>
                </div>
              </div>
            </article>
          </div>

          <!-- Project -->
          <div class="col">
            <article
              class="card hover-effect-scale bg-transparent overflow-hidden"
            >
              <div class="row h-100 g-0">
                <div
                  class="col-sm-4 position-relative bg-body-tertiary overflow-hidden"
                  style="min-height: 178px"
                >
                  <img
                    src="static/img/fashion/04.jpg"
                    class="hover-effect-target position-absolute top-0 start-0 w-100 h-100 object-fit-cover"
                    alt="Image"
                  />
                </div>
                <div
                  class="col-sm-8 card-body d-flex flex-column align-items-start p-3 p-sm-4"
                >
                  <h3 class="h6 mt-1 mt-sm-0 mb-2">
                    <a class="stretched-link hover-effect-underline" href=""
                      >Aseobi - mordern styles.</a
                    >
                  </h3>
                  <div class="d-flex align-items-center gap-3 mb-4">
                    <div class="d-flex align-items-center gap-1">
                      <i class="fi-star-filled text-warning"></i>
                      <span class="fs-sm text-secondary-emphasis">4.9</span>
                    </div>
                    <div class="fs-sm text-dark-emphasis">native</div>
                  </div>
                  <button
                    type="button"
                    class="btn btn-outline-dark position-relative z-2 mt-auto"
                  >
                    Home Service
                  </button>
                </div>
              </div>
            </article>
          </div>
        </div>
      </div>
    </div>
  </section>

  <script src="/static/js/pages/fashion.js"></script>
