
{% extends "incs/base.html" %}
{% block title %} contact - laundry and fashion that keeps you astonishing. {% endblock title %}

{% block content %}
    <!-- Page content -->
    <main class="content-wrapper">

        <section class="container pt-2 pt-sm-3 pt-md-4 pt-lg-5 pb-5 my-xxl-3">
            <div class="row mb-4">
                
                <div class="col-md-7 order-md-1">
                    <div class="d-flex align-items-center h-100 bg-body-tertiary rounded-5 p-4 p-xl-5">
                        <div class="p-sm-3 p-xxl-2">
                            <h2 class="mb-lg-4">At Your Service</h2>
                            <p class="fs-lg pb-sm-2 pb-lg-3">
                                Awesome laundry and fashion products and services tailord to your wants and needs.
                            </p>
                            <div class="d-flex flex-column flex-sm-row gap-2 gap-lg-3">
                                <div class="d-flex align-items-center text-body-emphasis bg-body rounded-pill shadow px-3"
                                    style="padding: 10px 0">
                                    <i class="fi-package me-2"></i>
                                    <a href="" class="text-decoration-none text-dark-emphasis">
                                        <div class="fs-sm fw-medium">Request A Service.</div>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-md-5 order-md-2 mb-4 mb-md-0">
                    <div class="position-relative h-100 bg-body-tertiary rounded-5 overflow-hidden">
                        <div class="d-none d-md-block" style="height: 440px"></div>
                        <div class="d-none d-sm-block d-md-none" style="height: 350px"></div>
                        <div class="d-sm-none" style="height: 250px"></div>
                        <img src="static/img/contact/customer_service.jpg"
                            class="position-absolute top-0 start-0 w-100 h-100 object-fit-cover" alt="Image">
                    </div>
                </div>
                
            </div>
        </section>


        <!-- Categories: Row of cards that turns into carousel on screens < 1200px wide (xl breakpoint) -->
        <section class="container pt-2 pt-sm-3 pt-md-4 pt-lg-5 my-xxl-3">
            <div class="container py-5 mt-n3 mt-sm-0 my-xxl-3">
                <div class="row pb-2 pb-sm-3 py-md-4 py-lg-5">
        
                  <!-- Intro + Phone -->
                  <div class="col-md-5 col-lg-6 mb-5 mb-md-0">
                    <h1 class="display-3 mb-sm-4">Contact us</h1>
                    <!-- Phone -->
                    <div class="d-flex align-items-center mb-4">
                      <div class="position-relative flex-shrink-0 bg-body-secondary rounded-circle rtl-flip" style="width: 90px; height: 90px">
                        <img src="static/img/icons/gmail.png" class="d-block rounded-circle" alt="Avatar" style="padding: 3px">
                        <span class="position-absolute top-0 start-0 w-100 h-100 border border-3 border-white rounded-circle d-none-dark"></span>
                        <span class="position-absolute top-0 start-0 w-100 h-100 border border-3 rounded-circle d-none d-block-dark"></span>
                        <div class="position-absolute d-flex align-items-center justify-content-center z-2" style="right: 0; bottom: 0; width: 16px; height: 16px; margin: 0 9px 3px 0">
                          <span class="position-absolute top-0 start-0 w-100 h-100 bg-white rounded-circle d-none-dark"></span>
                          <span class="position-absolute top-0 start-0 w-100 h-100 border border-3 rounded-circle d-none d-block-dark"></span>
                          <span class="position-relative z-1 bg-info rounded-circle" style="width: 12px; height: 12px"></span>
                        </div>
                      </div>

                      <div class="ps-3 ps-sm-4">
                        <h5 class="mb-2">Email</h5>
                        <div class="nav gap-2 fs-sm">
                          <span>Send us a mail right now</span>
                          <a class="nav-link hover-effect-underline fw-semibold p-0" href="mailto:laundryandfashion@gmail.com">
                            laundryandfashion@gmail.com
                        </a>
                        </div>
                      </div>

                    </div>

                    <div class="d-flex align-items-center mb-4">
                      <div class="position-relative flex-shrink-0 bg-body-secondary rounded-circle rtl-flip" style="width: 90px; height: 90px">
                        <img src="static/img/icons/phone-call.png" class="d-block rounded-circle" alt="Avatar" style="padding: 3px">
                        <span class="position-absolute top-0 start-0 w-100 h-100 border border-3 border-white rounded-circle d-none-dark"></span>
                        <span class="position-absolute top-0 start-0 w-100 h-100 border border-3 rounded-circle d-none d-block-dark"></span>
                        <div class="position-absolute d-flex align-items-center justify-content-center z-2" style="right: 0; bottom: 0; width: 16px; height: 16px; margin: 0 9px 3px 0">
                          <span class="position-absolute top-0 start-0 w-100 h-100 bg-white rounded-circle d-none-dark"></span>
                          <span class="position-absolute top-0 start-0 w-100 h-100 border border-3 rounded-circle d-none d-block-dark"></span>
                          <span class="position-relative z-1 bg-info rounded-circle" style="width: 12px; height: 12px"></span>
                        </div>
                      </div>
                      <div class="ps-3 ps-sm-4">
                        <h5 class="mb-2">Phone Call</h5>
                        <div class="nav gap-2 fs-sm">
                          <span>Give us a call right now</span>
                          <a class="nav-link hover-effect-underline fw-semibold p-0" href="tel:4065550120">
                            (234)&nbsp;8053015917
                        </a>
                        </div>
                      </div>

                    </div>

                    <div class="d-flex align-items-center">
                      <div class="position-relative flex-shrink-0 bg-body-secondary rounded-circle rtl-flip" style="width: 90px; height: 90px">
                        <img src="static/img/icons/location-pin.png" class="d-block rounded-circle" alt="Avatar" style="padding: 3px">
                        <span class="position-absolute top-0 start-0 w-100 h-100 border border-3 border-white rounded-circle d-none-dark"></span>
                        <span class="position-absolute top-0 start-0 w-100 h-100 border border-3 rounded-circle d-none d-block-dark"></span>
                        <div class="position-absolute d-flex align-items-center justify-content-center z-2" style="right: 0; bottom: 0; width: 16px; height: 16px; margin: 0 9px 3px 0">
                          <span class="position-absolute top-0 start-0 w-100 h-100 bg-white rounded-circle d-none-dark"></span>
                          <span class="position-absolute top-0 start-0 w-100 h-100 border border-3 rounded-circle d-none d-block-dark"></span>
                          <span class="position-relative z-1 bg-info rounded-circle" style="width: 12px; height: 12px"></span>
                        </div>
                      </div>

                      <div class="ps-3 ps-sm-4">
                        <h5 class="mb-2">Address</h5>
                        <div class="nav gap-2 fs-sm">
                          <span>Meet us in person</span>
                          <a class="nav-link hover-effect-underline fw-semibold p-0" href="tel:4065550120">
                            Block F4 Shop 39&40, HFP Eastline Shopping Complex, Lagos, Nigeria.
                        </a>
                        </div>
                      </div>

                    </div>

                  </div>
        
        
                  <!-- Contact form -->
                  <div class="col-md-7 col-lg-6">
                    <form class="needs-validation position-relative bg-body rounded-5" style="padding: 5px" novalidate="">
                      <div class="position-relative z-1 my-2 mx-sm-2 m-lg-0 p-4 p-lg-5">
                        <!-- <h2 class="h4 mb-4">Get in touch!</h2> -->
                        <div class="mb-3">
                          <input type="text" class="form-control form-control-lg" placeholder="Full name *" required="">
                          <div class="invalid-feedback">Please enter your full name!</div>
                        </div>
                        <div class="mb-3">
                          <input type="tel" class="form-control form-control-lg text-start" placeholder="Phone *" required="">
                          <div class="invalid-feedback">Please provide a active phone number!</div>
                        </div>
                        <div class="mb-3">
                          <input type="email" class="form-control form-control-lg text-start" placeholder="Email *" required="">
                          <div class="invalid-feedback">Please provide a valid email address!</div>
                        </div>
                        <div class="mb-4">
                          <textarea class="form-control form-control-lg" rows="5" placeholder="Your message *" required=""></textarea>
                          <div class="invalid-feedback">Please write your message!</div>
                        </div>
                        <button type="submit" class="btn btn-lg btn-dark w-100">Submit Request</button>
                      </div>
                      <span class="position-absolute top-0 start-0 w-100 h-100 border border-5 rounded-5 opacity-50"></span>
                    </form>
                  </div>
                </div>

              </div>
        </section>

        <section class="container py-5 mt-2 mt-md-3 mt-lg-4">
            <div class="row pb-2 pb-sm-3 pb-md-4 pb-lg-5 mb-xxl-3">
              <div class="col-lg-10 col-xl-9">
    
                <!-- Title + Overall rating -->
                <div class="d-flex align-items-center justify-content-between pb-2 pb-lg-3 mb-3">
                  <h2 class="mb-0">Reviews</h2>
                  <div class="h5 d-flex align-items-center lh-base mb-0">
                    <i class="fi-star-filled text-warning me-2"></i>
                    4.9
                    <span class="fs-sm fw-normal text-body-secondary ms-1">(32)</span>
                  </div>
                </div>
    
                <!-- Nav pills + Add review button -->
                <div class="d-flex align-items-center justify-content-between">
                  <div class="nav overflow-x-auto w-100 mb-3 me-3">
                    <ul class="nav nav-pills flex-nowrap gap-2 pb-2 mb-1" role="tablist">
                      <li class="nav-item me-1" role="presentation">
                        <button type="button" class="nav-link text-nowrap active" role="tab">
                          All
                        </button>
                      </li>
                      <li class="nav-item me-1" role="presentation">
                        <button type="button" class="nav-link text-nowrap" role="tab">
                          Only positive (30)
                        </button>
                      </li>
                      <li class="nav-item me-1" role="presentation">
                        <button type="button" class="nav-link text-nowrap" role="tab">
                          Only negative (2)
                        </button>
                      </li>
                    </ul>
                  </div>
                  <div class="pb-3 mb-3">
                    <button type="button" class="btn btn-outline-dark" data-bs-toggle="modal" data-bs-target="#reviewForm">
                      <i class="fi-edit-3 fs-base ms-n1 me-2"></i>
                      Add review
                    </button>
                  </div>
                </div>
    
                <!-- Review -->
                <div class="border-bottom pb-4">
                  <div class="d-sm-flex align-items-center mb-3">
                    <div class="d-flex align-items-center pe-3">
                      <div class="ratio ratio-1x1 flex-shrink-0 bg-body-secondary rounded-circle overflow-hidden" style="width: 48px">
                        <img src="static/img/users/edet.jpg" alt="Avatar">
                      </div>
                      <div class="ps-3">
                        <h6 class="mb-1">Chris James</h6>
                        <div class="fs-xs text-body-secondary">Jan 17, 2025</div>
                      </div>
                    </div>
                    <div class="d-flex gap-1 fs-sm pt-2 pt-sm-0 ps-5 ps-sm-0 ms-3 ms-sm-auto">
                      <i class="fi-star-filled text-warning"></i>
                      <i class="fi-star-filled text-warning"></i>
                      <i class="fi-star-filled text-warning"></i>
                      <i class="fi-star-filled text-warning"></i>
                      <i class="fi-star-filled text-warning"></i>
                    </div>
                  </div>
                  <p class="fs-sm mb-2">Review on: Jan 17, 2025</p>
                  <p class="fs-sm">Their laundry service is top-notch, making my fabrics look brand new every time.</p>
                  <div class="nav align-items-center">
                    <button type="button" class="nav-link text-body-secondary animate-scale px-0 me-n1">
                      <i class="fi-thumbs-up fs-base animate-target me-1"></i>
                      6
                    </button>
                    <hr class="vr my-2 mx-3">
                    <button type="button" class="nav-link text-body-secondary animate-scale px-0 ms-n1">
                      <i class="fi-thumbs-down fs-base animate-target me-1"></i>
                      0
                    </button>
                  </div>
                </div>
    
                <!-- Review -->
                <div class="border-bottom py-4">
                  <div class="d-sm-flex align-items-center mt-2 mb-3">
                    <div class="d-flex align-items-center pe-3">
                      <div class="ratio ratio-1x1 flex-shrink-0 bg-body-secondary rounded-circle overflow-hidden" style="width: 48px">
                        <img src="static/img/users/ava01.jpg" alt="Avatar">
                      </div>
                      <div class="ps-3">
                        <h6 class="mb-1">Madueke Valentine</h6>
                        <div class="fs-xs text-body-secondary">Jan 17, 2025</div>
                      </div>
                    </div>
                    <div class="d-flex gap-1 fs-sm pt-2 pt-sm-0 ps-5 ps-sm-0 ms-3 ms-sm-auto">
                      <i class="fi-star-filled text-warning"></i>
                      <i class="fi-star-filled text-warning"></i>
                      <i class="fi-star-filled text-warning"></i>
                      <i class="fi-star-filled text-warning"></i>
                      <i class="fi-star-filled text-warning"></i>
                    </div>
                  </div>
                  <p class="fs-sm mb-2">Review on:<a class="hover-effect-underline fw-medium text-dark-emphasis text-decoration-none ms-2" 
                    href="#!">Jan 17, 2025</a></p>
                  <p class="fs-sm">I had a great experience with SimplyLovely when getting my clothes washed. The team was professional, reliable
                    , and extremely knowledgeable about the laundry. They provided perfume for my fabrics, which led me to even invite y friends.</p>
                  <div class="nav align-items-center">
                    <button type="button" class="nav-link text-body-secondary animate-scale px-0 me-n1">
                      <i class="fi-thumbs-up fs-base animate-target me-1"></i>
                      4
                    </button>
                    <hr class="vr my-2 mx-3">
                    <button type="button" class="nav-link text-body-secondary animate-scale px-0 ms-n1">
                      <i class="fi-thumbs-down fs-base animate-target me-1"></i>
                      1
                    </button>
                  </div>
                </div>
    
                <!-- Review -->
                <div class="border-bottom py-4">
                  <div class="d-sm-flex align-items-center mt-2 mb-3">
                    <div class="d-flex align-items-center pe-3">
                      <div class="ratio ratio-1x1 flex-shrink-0 bg-body-secondary rounded-circle overflow-hidden" style="width: 48px">
                        <img src="static/img/users/ava04.jpg" alt="Avatar">
                      </div>
                      <div class="ps-3">
                        <h6 class="mb-1">Favor Ezekwe</h6>
                        <div class="fs-xs text-body-secondary">Jan 17, 2025</div>
                      </div>
                    </div>
                    <div class="d-flex gap-1 fs-sm pt-2 pt-sm-0 ps-5 ps-sm-0 ms-3 ms-sm-auto">
                      <i class="fi-star-filled text-warning"></i>
                      <i class="fi-star-filled text-warning"></i>
                      <i class="fi-star-filled text-warning"></i>
                      <i class="fi-star-filled text-warning"></i>
                      <i class="fi-star text-warning"></i>
                    </div>
                  </div>
                  <p class="fs-sm mb-2">Review on:<a class="hover-effect-underline fw-medium text-dark-emphasis text-decoration-none ms-2"
                     href="#!">Jan 17, 2025</a></p>
                  <p class="fs-sm">They're simply awesome and professional.</p>
                  <div class="nav align-items-center">
                    <button type="button" class="nav-link text-body-secondary animate-scale px-0 me-n1">
                      <i class="fi-thumbs-up fs-base animate-target me-1"></i>
                      19
                    </button>
                    <hr class="vr my-2 mx-3">
                    <button type="button" class="nav-link text-body-secondary animate-scale px-0 ms-n1">
                      <i class="fi-thumbs-down fs-base animate-target me-1"></i>
                      5
                    </button>
                  </div>
                </div>
    
                <!-- Pagination -->
                <nav class="pt-4 mt-md-2" aria-label="Reviews pagination">
                  <ul class="pagination pagination-lg">
                    <li class="page-item active" aria-current="page">
                      <span class="page-link">
                        1
                        <span class="visually-hidden">(current)</span>
                      </span>
                    </li>
                    <li class="page-item">
                      <a class="page-link" href="#!">2</a>
                    </li>
                    <li class="page-item">
                      <a class="page-link" href="#!">3</a>
                    </li>
                    <li class="page-item">
                      <a class="page-link" href="#!">4</a>
                    </li>
                    <li class="page-item">
                      <span class="page-link pe-none">...</span>
                    </li>
                    <li class="page-item">
                      <a class="page-link" href="#!">8</a>
                    </li>
                  </ul>
                </nav>
              </div>
            </div>
          </section>

    </main>

{% endblock content %}