{% extends "incs/base.html" %} {% block title %} Fashion - mordern designers and
ankaras. {% endblock title %} {% block content %}
<!-- Page content -->
<main class="content-wrapper">
  <!-- Hero with search form and featured events slider -->
  <section
    class="position-relative overflow-hidden pt-5"
    style="margin-top: -76px"
  >
    <div class="container position-relative pt-5 mt-sm-2">
      <!-- A slider that features a smooth fade transition between slides -->
      <div
        class="swiper hover-effect-opacity"
        data-swiper='{
          "effect": "fade",
          "loop": true,
            "speed": 450,
            "autoplay": {
            "delay": 7000,
            "disableOnInteraction": false
            },

          "navigation": {
            "prevEl": ".btn-prev",
            "nextEl": ".btn-next"
          }
        }'
      >
        <div class="swiper-wrapper">
          
          <!-- Item -->
<div class="swiper-slide rounded overflow-hidden">
  <a href="https://wa.me/2348025922093?text=Hello%2C%20I%27d%20like%20to%20know%20more%20about%20your%20laundry%20and%20fashion%20services." 
     target="_blank" 
     rel="noopener noreferrer" 
     class="d-block ratio ratio-21x9 bg-info-subtle rounded overflow-hidden">
    <img
      src="./static/img/fashion/hero/01.jpg"
      alt="Image"
      class="w-100 h-100 object-fit-cover"
    />
  </a>
</div>

          <!-- Item -->
          <div class="swiper-slide rounded overflow-hidden">
            <div
              class="ratio ratio-21x9 bg-danger-subtle rounded overflow-hidden"
            >
              <a href="https://wa.me/2348025922093?text=Hello%2C%20I%27d%20like%20to%20know%20more%20about%20your%20laundry%20and%20fashion%20services." 
     target="_blank" 
     rel="noopener noreferrer" 
     class="d-block ratio ratio-21x9 bg-info-subtle rounded overflow-hidden">
              <img
                src="./static/img/fashion/hero/02.jpg"
                alt="Image"
                class="w-100 h-100 object-fit-cover"
              />
              </a>
            </div>
          </div>

          <!-- Item -->
          <div class="swiper-slide rounded overflow-hidden">
            <div
              class="ratio ratio-21x9 bg-warning-subtle rounded overflow-hidden"
            >
              <a href="https://wa.me/2348025922093?text=Hello%2C%20I%27d%20like%20to%20know%20more%20about%20your%20laundry%20and%20fashion%20services." 
     target="_blank" 
     rel="noopener noreferrer" 
     class="d-block ratio ratio-21x9 bg-info-subtle rounded overflow-hidden">
              <img
                src="./static/img/fashion/hero/03.jpg"
                alt="Image"
                class="w-100 h-100 object-fit-cover"
              />
              </a>
            </div>
          </div>
        </div>

        <!-- Prev button -->
        <div
          class="position-absolute top-50 start-0 z-2 translate-middle-y ms-3 ms-sm-4 hover-effect-target opacity-0"
        >
          <button
            type="button"
            class="btn btn-prev btn-icon btn-secondary bg-body border-0 rounded-circle animate-slide-start"
            aria-label="Prev"
          >
            <i class="ci-chevron-left fs-lg animate-target"></i>
          </button>
        </div>

        <!-- Next button -->
        <div
          class="position-absolute top-50 end-0 z-2 translate-middle-y me-3 me-sm-4 hover-effect-target opacity-0"
        >
          <button
            type="button"
            class="btn btn-next btn-icon btn-secondary bg-body border-0 rounded-circle animate-slide-end"
            aria-label="Next"
          >
            <i class="ci-chevron-right fs-lg animate-target"></i>
          </button>
        </div>
      </div>
    </div>
  </section>


  {#
  <!---->
  <section class="container py-5 my-2 my-sm-3 mb-md-2 mt-lg-4 my-xl-5">
    <div
      class="overflow-x-auto pt-xxl-3 simplebar-scrollable-x"
      data-simplebar="init"
      data-simplebar-auto-hide="false"
    >
      <div class="simplebar-wrapper" style="margin: 0px">
        <div class="simplebar-mask">
          <div class="simplebar-offset" style="right: 0px; bottom: 0px">
            <div
              class="simplebar-content-wrapper"
              tabindex="0"
              role="region"
              aria-label="scrollable content"
              style="height: auto; overflow: scroll hidden"
            >
              <div class="simplebar-content" style="padding: 0px">
                <div
                  class="row flex-nowrap flex-md-wrap justify-content-md-center g-0 gap-4 gap-md-0"
                >
                  {% for service in fashion_services %}
                  <!-- Category -->
                  <div class="col col-md-4 col-lg-3 col-xl-2 mb-4">
                    <div
                      class="category-card w-100 text-center px-1 px-lg-2 px-xxl-3 mx-auto"
                      style="min-width: 165px"
                    >
                      <div class="category-card-body">
                        <a class="d-block text-decoration-none" href="!#">
                          <div
                            class="bg-body-tertiary rounded-pill mb-3 mx-auto"
                            style="max-width: 164px"
                          >
                            <div class="ratio ratio-1x1">
                              <img
                                src="{{service.image}}"
                                class="rounded-pill"
                                alt="Image"
                              />
                            </div>
                          </div>
                          <h3 class="category-card-title h6 text-truncate">
                            {{service.name}}
                          </h3>
                        </a>
                      </div>
                    </div>
                  </div>
                  {% endfor %}
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
#}

{% include "incs/pages/fashion_with_tabs.html" %}
</main>

{% endblock content %}
