
{% extends "incs/base.html" %}
{% block title %} Fashion - mordern designers and ankaras. {% endblock title %}

{% block content %}
    <!-- Page content -->
    <main class="content-wrapper">

<!-- Hero with search form and featured events slider -->
<section class="position-relative overflow-hidden pt-5" style="margin-top: -76px">
    <div class="container position-relative pt-5 mt-sm-2">
        <!-- A slider that features a smooth fade transition between slides -->
        <div class="swiper hover-effect-opacity" data-swiper='{
          "effect": "fade",
          "loop": true,
            "speed": 450,
            "autoplay": {
            "delay": 7000,
            "disableOnInteraction": false
            },

          "navigation": {
            "prevEl": ".btn-prev",
            "nextEl": ".btn-next"
          }
        }'>
          <div class="swiper-wrapper">

            <!-- Item -->
            <div class="swiper-slide rounded overflow-hidden">
              <div class="ratio ratio-21x9 bg-info-subtle rounded overflow-hidden">
                <img src="./static/img/fashion/hero/01.jpg" 
                     alt="Image" 
                     class="w-100 h-100 object-fit-cover">
              </div>
            </div>

            <!-- Item -->
            <div class="swiper-slide rounded overflow-hidden">
              <div class="ratio ratio-21x9 bg-danger-subtle rounded overflow-hidden">
                <img src="./static/img/fashion/hero/02.jpg" 
                     alt="Image" 
                     class="w-100 h-100 object-fit-cover">
              </div>
            </div>

            <!-- Item -->
            <div class="swiper-slide rounded overflow-hidden">
              <div class="ratio ratio-21x9 bg-warning-subtle rounded overflow-hidden">
                <img src="./static/img/fashion/hero/03.jpg" 
                     alt="Image" 
                     class="w-100 h-100 object-fit-cover">
              </div>
            </div>
          </div>

          <!-- Prev button -->
          <div class="position-absolute top-50 start-0 z-2 translate-middle-y ms-3 ms-sm-4 hover-effect-target opacity-0">
            <button type="button" class="btn btn-prev btn-icon btn-secondary bg-body border-0 rounded-circle animate-slide-start" aria-label="Prev">
              <i class="ci-chevron-left fs-lg animate-target"></i>
            </button>
          </div>

          <!-- Next button -->
          <div class="position-absolute top-50 end-0 z-2 translate-middle-y me-3 me-sm-4 hover-effect-target opacity-0">
            <button type="button" class="btn btn-next btn-icon btn-secondary bg-body border-0 rounded-circle animate-slide-end" aria-label="Next">
              <i class="ci-chevron-right fs-lg animate-target"></i>
            </button>
          </div>
        </div>

    </div>
</section>

               <!---->
               <section class="container py-5 my-2 my-sm-3 mb-md-2 mt-lg-4 my-xl-5">
                <div class="overflow-x-auto pt-xxl-3 simplebar-scrollable-x" data-simplebar="init" data-simplebar-auto-hide="false">
                    <div class="simplebar-wrapper" style="margin: 0px;">
                        <div class="simplebar-mask">
                            <div class="simplebar-offset" style="right: 0px; bottom: 0px;">
                                <div class="simplebar-content-wrapper" tabindex="0" role="region" aria-label="scrollable content"
                                    style="height: auto; overflow: scroll hidden;">
                                    <div class="simplebar-content" style="padding: 0px;">
                                        <div class="row flex-nowrap flex-md-wrap justify-content-md-center g-0 gap-4 gap-md-0">
            
                                            {% for service in fashion_services %}
                                            <!-- Category -->
                                            <div class="col col-md-4 col-lg-3 col-xl-2 mb-4">
                                                <div class="category-card w-100 text-center px-1 px-lg-2 px-xxl-3 mx-auto"
                                                    style="min-width: 165px">
                                                    <div class="category-card-body">
                                                        <a class="d-block text-decoration-none" href="!#">
                                                            <div class="bg-body-tertiary rounded-pill mb-3 mx-auto"
                                                                style="max-width: 164px">
                                                                <div class="ratio ratio-1x1">
                                                                    <img src="{{service.image}}"
                                                                        class="rounded-pill" alt="Image">
                                                                </div>
                                                            </div>
                                                            <h3 class="category-card-title h6 text-truncate">{{service.name}}</h3>
                                                        </a>
                                                    </div>
                                                </div>
                                            </div>
                                            {% endfor %}
            
                                        </div>
                                    </div>
            
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>

         <!-- Popular categories -->
<section class="container py-2 py-sm-3 py-md-4 py-lg-5 my-xxl-3">
    <div class="d-md-flex align-items-start gap-5 pb-2 pb-sm-3">
        <h2 class="text-nowrap mb-4 mb-md-0">Popular Categories:</h2>
        <div class="d-flex min-w-0 flex-fill gap-4">
            <div class="overflow-x-auto pb-3">
                <ul class="nav nav-pills flex-nowrap gap-2 text-nowrap" role="tablist">
                    <li class="nav-item me-1">
                        <a class="nav-link text-nowrap cursor-pointer active" 
                           id="all-categories-tab" 
                           data-bs-toggle="pill" 
                           data-bs-target="#all-categories" 
                           role="tab" 
                           aria-controls="all-categories" 
                           aria-selected="true">
                            All
                        </a>
                    </li>
                    <li class="nav-item me-1">
                        <a class="nav-link text-nowrap cursor-pointer" 
                           id="women-categories-tab" 
                           data-bs-toggle="pill" 
                           data-bs-target="#women-categories" 
                           role="tab" 
                           aria-controls="women-categories" 
                           aria-selected="false">
                            Women
                        </a>
                    </li>
                    <li class="nav-item me-1">
                        <a class="nav-link text-nowrap cursor-pointer" 
                           id="men-categories-tab" 
                           data-bs-toggle="pill" 
                           data-bs-target="#men-categories" 
                           role="tab" 
                           aria-controls="men-categories" 
                           aria-selected="false">
                            Men
                        </a>
                    </li>
                    <li class="nav-item me-1">
                        <a class="nav-link text-nowrap cursor-pointer" 
                           id="children-categories-tab" 
                           data-bs-toggle="pill" 
                           data-bs-target="#children-categories" 
                           role="tab" 
                           aria-controls="children-categories" 
                           aria-selected="false">
                            Children
                        </a>
                    </li>
                </ul>
            </div>
            <!--  -->
            <div class="nav ms-auto mb-3 nav-item me-1">
                <a class="nav-link position-relative fs-base text-nowrap py-1 px-0 disabled" href="listings-events.html">
                    <span class="hover-effect-underline stretched-link me-1">More..</span>
                    <i class="fi-chevron-right fs-lg"></i>
                </a>
            </div>

        </div>
    </div>

    <div class="tab-content">

        <!-- All Categories tab -->
        <div class="tab-pane fade active show" id="all-categories" role="tabpanel" aria-labelledby="all-categories-tab">
            <div class="row row-cols-1 row-cols-lg-2 g-4 pb-5">

                <div class="col">
                    <article class="card hover-effect-scale bg-transparent overflow-hidden">
                        <div class="row h-100 g-0">
                            <div class="col-sm-4 position-relative bg-body-tertiary overflow-hidden"
                                style="min-height: 178px">
                                <img src="static/img/fashion/01.jpg"
                                    class="hover-effect-target position-absolute top-0 start-0 w-100 h-100 object-fit-cover"
                                    alt="Image">
                            </div>
                            <div class="col-sm-8 card-body d-flex flex-column align-items-start p-3 p-sm-4">
                                <h3 class="h6 mt-1 mt-sm-0 mb-2">
                                    <a class="stretched-link hover-effect-underline" href="">
                                        Women wears.</a>
                                </h3>
                                <div class="d-flex align-items-center gap-3 mb-4">
                                    <div class="d-flex align-items-center gap-1">
                                        <i class="fi-star-filled text-warning"></i>
                                        <span class="fs-sm text-secondary-emphasis">4.5</span>
                                    </div>
                                    <div class="fs-sm text-dark-emphasis">ankara</div>
                                </div>
                                <button type="button" class="btn btn-outline-dark position-relative z-2 mt-auto">Home
                                    Service</button>
                            </div>
                        </div>
                    </article>
                </div>

                <!-- Project -->
                <div class="col">
                    <article class="card hover-effect-scale bg-transparent overflow-hidden">
                        <div class="row h-100 g-0">
                            <div class="col-sm-4 position-relative bg-body-tertiary overflow-hidden"
                                style="min-height: 178px">
                                <img src="static/img/fashion/02.jpg"
                                    class="hover-effect-target position-absolute top-0 start-0 w-100 h-100 object-fit-cover"
                                    alt="Image">
                            </div>
                            <div class="col-sm-8 card-body d-flex flex-column align-items-start p-3 p-sm-4">
                                <h3 class="h6 mt-1 mt-sm-0 mb-2">
                                    <a class="stretched-link hover-effect-underline" href="">Men's wears.</a>
                                </h3>
                                <div class="d-flex align-items-center gap-3 mb-4">
                                    <div class="d-flex align-items-center gap-1">
                                        <i class="fi-star-filled text-warning"></i>
                                        <span class="fs-sm text-secondary-emphasis">4.3</span>
                                    </div>
                                    <div class="fs-sm text-dark-emphasis">native</div>
                                </div>
                                <button type="button" class="btn btn-outline-dark position-relative z-2 mt-auto">Home
                                    Service</button>
                            </div>
                        </div>
                    </article>
                </div>

                <!-- Project -->
                <div class="col">
                    <article class="card hover-effect-scale bg-transparent overflow-hidden">
                        <div class="row h-100 g-0">
                            <div class="col-sm-4 position-relative bg-body-tertiary overflow-hidden"
                                style="min-height: 178px">
                                <img src="static/img/fashion/03.jpg"
                                    class="hover-effect-target position-absolute top-0 start-0 w-100 h-100 object-fit-cover"
                                    alt="Image">
                            </div>
                            <div class="col-sm-8 card-body d-flex flex-column align-items-start p-3 p-sm-4">
                                <h3 class="h6 mt-1 mt-sm-0 mb-2">
                                    <a class="stretched-link hover-effect-underline" href="#">
                                        Children's wears.</a>
                                </h3>
                                <div class="d-flex align-items-center gap-3 mb-4">
                                    <div class="d-flex align-items-center gap-1">
                                        <i class="fi-star-filled text-warning"></i>
                                        <span class="fs-sm text-secondary-emphasis">4.7</span>
                                    </div>
                                    <div class="fs-sm text-dark-emphasis">native</div>
                                </div>
                                <button type="button" class="btn btn-outline-dark position-relative z-2 mt-auto">Home
                                    Service</button>
                            </div>
                        </div>
                    </article>
                </div>

                <!-- Project -->
                <div class="col">
                    <article class="card hover-effect-scale bg-transparent overflow-hidden">
                        <div class="row h-100 g-0">
                            <div class="col-sm-4 position-relative bg-body-tertiary overflow-hidden"
                                style="min-height: 178px">
                                <img src="static/img/fashion/04.jpg"
                                    class="hover-effect-target position-absolute top-0 start-0 w-100 h-100 object-fit-cover"
                                    alt="Image">
                            </div>
                            <div class="col-sm-8 card-body d-flex flex-column align-items-start p-3 p-sm-4">
                                <h3 class="h6 mt-1 mt-sm-0 mb-2">
                                    <a class="stretched-link hover-effect-underline" href="">Aseobi - mordern
                                        styles.</a>
                                </h3>
                                <div class="d-flex align-items-center gap-3 mb-4">
                                    <div class="d-flex align-items-center gap-1">
                                        <i class="fi-star-filled text-warning"></i>
                                        <span class="fs-sm text-secondary-emphasis">4.9</span>
                                    </div>
                                    <div class="fs-sm text-dark-emphasis">native</div>
                                </div>
                                <button type="button" class="btn btn-outline-dark position-relative z-2 mt-auto">Home
                                    Service</button>
                            </div>
                        </div>
                    </article>
                </div>

            </div>

        </div>

        <!-- Women Categories tab -->
        <div class="tab-pane fade" id="women-categories" role="tabpanel" aria-labelledby="women-categories-tab">
            <!-- Content for Women Categories -->
            <div class="row row-cols-1 row-cols-lg-2 g-4 pb-5">

                <div class="col">
                    <article class="card hover-effect-scale bg-transparent overflow-hidden">
                        <div class="row h-100 g-0">
                            <div class="col-sm-4 position-relative bg-body-tertiary overflow-hidden"
                                style="min-height: 178px">
                                <img src="static/img/fashion/01.jpg"
                                    class="hover-effect-target position-absolute top-0 start-0 w-100 h-100 object-fit-cover"
                                    alt="Image">
                            </div>
                            <div class="col-sm-8 card-body d-flex flex-column align-items-start p-3 p-sm-4">
                                <h3 class="h6 mt-1 mt-sm-0 mb-2">
                                    <a class="stretched-link hover-effect-underline" href="">
                                        Women wears.</a>
                                </h3>
                                <div class="d-flex align-items-center gap-3 mb-4">
                                    <div class="d-flex align-items-center gap-1">
                                        <i class="fi-star-filled text-warning"></i>
                                        <span class="fs-sm text-secondary-emphasis">4.5</span>
                                    </div>
                                    <div class="fs-sm text-dark-emphasis">ankara</div>
                                </div>
                                <button type="button" class="btn btn-outline-dark position-relative z-2 mt-auto">Home
                                    Service</button>
                            </div>
                        </div>
                    </article>
                </div>

            </div>

        </div>

        <!-- Men Categories tab -->
        <div class="tab-pane fade" id="men-categories" role="tabpanel" aria-labelledby="men-categories-tab">
            <!-- Content for Men Categories -->
            <div class="row row-cols-1 row-cols-lg-2 g-4 pb-5">

                <div class="col">
                    <article class="card hover-effect-scale bg-transparent overflow-hidden">
                        <div class="row h-100 g-0">
                            <div class="col-sm-4 position-relative bg-body-tertiary overflow-hidden"
                                style="min-height: 178px">
                                <img src="static/img/fashion/02.jpg"
                                    class="hover-effect-target position-absolute top-0 start-0 w-100 h-100 object-fit-cover"
                                    alt="Image">
                            </div>
                            <div class="col-sm-8 card-body d-flex flex-column align-items-start p-3 p-sm-4">
                                <h3 class="h6 mt-1 mt-sm-0 mb-2">
                                    <a class="stretched-link hover-effect-underline" href="">Men's wears.</a>
                                </h3>
                                <div class="d-flex align-items-center gap-3 mb-4">
                                    <div class="d-flex align-items-center gap-1">
                                        <i class="fi-star-filled text-warning"></i>
                                        <span class="fs-sm text-secondary-emphasis">4.3</span>
                                    </div>
                                    <div class="fs-sm text-dark-emphasis">native</div>
                                </div>
                                <button type="button" class="btn btn-outline-dark position-relative z-2 mt-auto">Home
                                    Service</button>
                            </div>
                        </div>
                    </article>
                </div>

            </div>

        </div>

        <!-- Children Categories tab -->
        <div class="tab-pane fade" id="children-categories" role="tabpanel" aria-labelledby="children-categories-tab">
            <!-- Content for Children Categories -->
            <div class="row row-cols-1 row-cols-lg-2 g-4 pb-5">

                <div class="col">
                    <article class="card hover-effect-scale bg-transparent overflow-hidden">
                        <div class="row h-100 g-0">
                            <div class="col-sm-4 position-relative bg-body-tertiary overflow-hidden"
                                style="min-height: 178px">
                                <img src="static/img/fashion/03.jpg"
                                    class="hover-effect-target position-absolute top-0 start-0 w-100 h-100 object-fit-cover"
                                    alt="Image">
                            </div>
                            <div class="col-sm-8 card-body d-flex flex-column align-items-start p-3 p-sm-4">
                                <h3 class="h6 mt-1 mt-sm-0 mb-2">
                                    <a class="stretched-link hover-effect-underline" href="#">
                                        Children's wears.</a>
                                </h3>
                                <div class="d-flex align-items-center gap-3 mb-4">
                                    <div class="d-flex align-items-center gap-1">
                                        <i class="fi-star-filled text-warning"></i>
                                        <span class="fs-sm text-secondary-emphasis">4.7</span>
                                    </div>
                                    <div class="fs-sm text-dark-emphasis">native</div>
                                </div>
                                <button type="button" class="btn btn-outline-dark position-relative z-2 mt-auto">Home
                                    Service</button>
                            </div>
                        </div>
                    </article>
                </div>

                <!-- Project -->
                <div class="col">
                    <article class="card hover-effect-scale bg-transparent overflow-hidden">
                        <div class="row h-100 g-0">
                            <div class="col-sm-4 position-relative bg-body-tertiary overflow-hidden"
                                style="min-height: 178px">
                                <img src="static/img/fashion/04.jpg"
                                    class="hover-effect-target position-absolute top-0 start-0 w-100 h-100 object-fit-cover"
                                    alt="Image">
                            </div>
                            <div class="col-sm-8 card-body d-flex flex-column align-items-start p-3 p-sm-4">
                                <h3 class="h6 mt-1 mt-sm-0 mb-2">
                                    <a class="stretched-link hover-effect-underline" href="">Aseobi - mordern
                                        styles.</a>
                                </h3>
                                <div class="d-flex align-items-center gap-3 mb-4">
                                    <div class="d-flex align-items-center gap-1">
                                        <i class="fi-star-filled text-warning"></i>
                                        <span class="fs-sm text-secondary-emphasis">4.9</span>
                                    </div>
                                    <div class="fs-sm text-dark-emphasis">native</div>
                                </div>
                                <button type="button" class="btn btn-outline-dark position-relative z-2 mt-auto">Home
                                    Service</button>
                            </div>
                        </div>
                    </article>
                </div>

            </div>

        </div>

    </div>
</section>
    </main>

{% endblock content %}
