{% extends "incs/base.html" %}
{% block title %} Addresses - Simplylovely. {% endblock title %}

{% block content %}

{% include 'incs/modals/add_address_modal.html' %}
<!-- Page content -->
<main class="content-wrapper">
    <div class="container py-5 mt-n2 mt-sm-0">
        <div class="row pt-md-2 pt-lg-3 pb-sm-2 pb-md-3 pb-lg-4 pb-xl-5">

            {% include 'incs/user_pages/sidebar.html' %}

            <!-- Addresses content -->
            <div class="col-lg-9">
                <div class="ps-lg-3 ps-xl-0">

                    <!-- Page title -->

                    <div class="border-bottom-xx py-4">
                        <div class="nav flex-nowrap align-items-center justify-content-between pb-1 mb-3">
                            <div class="d-flex align-items-center gap-3 me-4">
                                <h1 class="h2 mb-1 mb-sm-2">Addresses</h1>
                                <a class="nav-link animate-underline fs-base px-0" href="#newAddressModal"
                                    data-bs-toggle="modal">
                                    <i class="ci-plus fs-lg ms-n1 me-2"></i>
                                    <span class="animate-target badge text-bg-info rounded-pill">Add address</span>
                                </a>
                            </div>

                            <a class="nav-link animate-underline fs-base px-0" href="#newAddressModal"
                                data-bs-toggle="modal">
                                <i class="ci-plus fs-lg ms-n1 me-2"></i>
                                <span class="animate-target badge text-bg-info rounded-pill">Add address</span>
                            </a>
                        </div>

                        <div id="addresses-container">
                            <!-- Addresses will be dynamically inserted here -->
                        </div>
                    </div>

                    <script>
                        document.addEventListener('DOMContentLoaded', () => {
                            const addressForm = document.getElementById('update_address_form');
                            // Fetch existing address data on page load
                            fetchAddresses();
                            
                        });

                        // Function to fetch and display addresses
                        async function fetchAddresses() {
                            try {
                                const response = await window.make_request(`${window.apiUrl}/addresses`, {
                                    method: 'GET',
                                    headers: {
                                        //'Authorization': `Bearer ${localStorage.getItem('access_token')}` // Include JWT token
                                    }
                                });

                                if (response.success) {
                                    const data = await response;
                                    const addresses = data.addresses; // Adjust according to your API response structure
                                    displayAddresses(addresses);
                                    window.response_modal(data.message);
                                } else {
                                    window.response_modal(`${response.error}`);
                                    console.error('Failed to fetch addresses');
                                }
                            } catch (error) {
                                window.response_modal(`Error fetching addresses:', ${error}`);
                                console.error(`Error fetching addresses: ${error}`);
                            }
                        }

                        function displayAddresses(addresses) {
                            const addressesContainer = document.getElementById('addresses-container');
                            addressesContainer.innerHTML = ''; // Clear existing addresses

                            addresses.forEach((address, index) => {
                                const addressDiv = document.createElement('div');
                                addressDiv.classList.add('border-bottom', 'py-4');

                                addressDiv.innerHTML = `
                                    <div class="nav flex-nowrap align-items-center justify-content-between pb-1 mb-3">
                                        <div class="d-flex align-items-center gap-3 me-4">
                                            <h2 class="h6 mb-0">Shipping Address ${index + 1}</h2>
                                            ${address.is_primary ? '<span class="badge text-bg-success rounded-pill">Primary</span>' : ''}
                                        </div>

                                        <div class="d-flex gap-2 nav-link hiding-collapse-toggle p-0 collapsed">
                                            <button type="button" class="delete-button nav-link hiding-collapse-toggle p-0 collapsed animate-target badge text-bg-danger rounded-pill p-1" data-id="${address.id}">Remove</button>
                                            <a class="nav-link hiding-collapse-toggle p-0 collapsed animate-target badge text-bg-info rounded-pill p-1" href="#addressEdit${index}" data-bs-toggle="collapse" aria-expanded="false" aria-controls="addressPreview${index} addressEdit${index}">Update</a>
                                        </div>
                                    </div>
                                    <div class="collapse show" id="addressPreview${index}">
                                        <ul class="list-unstyled fs-sm m-0">
                                            <li>${address.street_address || 'No street address provided'}, ${address.city}, ${address.state}, ${address.zip_code || 'No ZIP code'}, ${address.country}</li>
                                        </ul>
                                    </div>

                                    <div class="collapse" id="addressEdit${index}">
                                        <form id="update_address_form_${address.id}" method="put" action='addresses' class="update-form row g-3 g-sm-4 needs-validation" novalidate="">
                                            <input type="hidden" name="address_id" value="${address.id}"/>
                                            
                                            <div class="col-sm-6">
                                                <div class="position-relative">
                                                    <label class="form-label">Country</label>
                                                    <select name="country" class="form-select" id="countrySelect${index}" required="">
                                                        <option value="">Select country...</option>
                                                        <!-- Options will be populated dynamically -->
                                                    </select>
                                                    <div class="invalid-feedback">Please select your country!</div>
                                                </div>
                                            </div>
                                            
                                            <div class="col-sm-6">
                                                <div class="position-relative">
                                                    <label class="form-label">State</label>
                                                    <select name="state" class="form-select" id="stateSelect${index}" required="" disabled>
                                                        <option value="">Select State...</option>
                                                        <!-- Options will be populated dynamically -->
                                                    </select>
                                                    <div class="invalid-feedback">Please select your state!</div>
                                                </div>
                                            </div>
                                            
                                            <div class="col-sm-6">
                                                <div class="position-relative">
                                                    <label class="form-label">City</label>
                                                    <select name="city" class="form-select" id="citySelect${index}" required="" disabled>
                                                        <option value="">Select city...</option>
                                                        <!-- Options will be populated dynamically -->
                                                    </select>
                                                    <div class="invalid-feedback">Please select your city!</div>
                                                </div>
                                            </div>
                                            
                                            <div class="col-sm-4">
                                                <div class="position-relative">
                                                    <label for="zip-${index}" class="form-label">ZIP code</label>
                                                    <input name="zip_code" type="text" class="form-control" id="zip-${index}" value="${address.zip_code}" required="">
                                                    <div class="invalid-feedback">Please enter your ZIP code!</div>
                                                </div>
                                            </div>
                                            
                                            <div class="col-sm-8">
                                                <div class="position-relative">
                                                    <label for="address-${index}" class="form-label">Address</label>
                                                    <input type="text" name='address' class="form-control" id="address-${index}" value="${address.street_address}" required="">
                                                    <div class="invalid-feedback">Please enter your address!</div>
                                                </div>
                                            </div>
                                            
                                            <div class="col-12">
                                                <div class="d-flex gap-3 pt-2 pt-sm-0">
                                                    <button type="submit" class="btn btn-primary">Save changes</button>
                                                    <button type="button" class="btn btn-secondary" data-bs-toggle="collapse" data-bs-target="#addressEdit${index}" aria-expanded="true" aria-controls="addressPreview${index} addressEdit${index}">Close</button>
                                                </div>
                                            </div>
                                        </form>
                                    </div>

                                `;

                                addressesContainer.appendChild(addressDiv);
                            });

                            // Add event listener for delete buttons
                            const deleteButtons = document.querySelectorAll('.delete-button');
                            deleteButtons.forEach(button => {
                                button.addEventListener('click', async function () {
                                    const addressId = this.dataset.id;

                                    // Animate the button
                                    this.innerHTML = 'removing...';
                                    this.classList.add('spinner-border', 'spinner-border-sm');

                                    try {
                                        const response = await window.make_request(`${window.apiUrl}/addresses/${addressId}`, {
                                            method: 'DELETE',
                                        });

                                        if (!response.success) {
                                            window.response_modal(response.error); // Display response message
                                            //throw new Error('Network response was not ok');
                                        } else {
                                            window.response_modal(response.message || response.error); // Display response message
                                            // fetchAddresses(); // Refresh displayed addresses
                                        }
                                    } catch (error) {
                                        window.response_modal(`Error: ${error.message}`);
                                    } finally {
                                        this.innerHTML = 'Remove'; // Reset button text
                                        this.classList.remove('spinner-border', 'spinner-border-sm');
                                    }
                                });
                            });

                            //
                            const updateForms = document.querySelectorAll('.update-form');
                            updateForms.forEach(form => {
                                form.addEventListener('submit', async function (event) {
                                    event.preventDefault(); // Prevent default form submission

                                    // Gather form data
                                    const formData = new FormData(form);
                                    const data = Object.fromEntries(formData.entries());
                                    // console.log(data);

                                    // Animate the button
                                    const submitButton = this.querySelector('button[type="submit"]');
                                    submitButton.innerHTML = 'Updating...';
                                    submitButton.classList.add('spinner-border', 'spinner-border-sm');

                                    try {
                                        const response = await window.make_request(`${window.apiUrl}/addresses/${data.address_id}`, {
                                            method: 'PUT', // Use PUT for updating
                                            headers: {
                                                'Content-Type': 'application/json',
                                            },
                                            body: JSON.stringify(data), // Send data in the body
                                        });

                                        // Handle response
                                        if (!response.success) {
                                            window.response_modal(response.error); // Display error message
                                        } else {
                                            window.response_modal(response.message || response.error); // Display success message
                                            // Optionally, refresh the displayed addresses
                                            fetchAddresses();
                                        }
                                    } catch (error) {
                                        window.response_modal(`Error: ${error.message}`);
                                    } finally {
                                        submitButton.innerHTML = 'Save changes'; // Reset button text
                                        submitButton.classList.remove('spinner-border', 'spinner-border-sm');
                                    }
                                });
                            });

                            //
                        }

                        //
                        document.addEventListener('DOMContentLoaded', function () {
                            // Fetch countries on page load
                            fetch(`${window.apiUrl}/countries?page_size=300`)
                                .then(response => response.json())
                                .then(data => {
                                    const countrySelects = document.querySelectorAll('[id^="countrySelect"]');
                                    countrySelects.forEach(select => {
                                        data.countries.forEach(country => {
                                            const option = document.createElement('option');
                                            option.value = country.id; // Use the ID for API calls
                                            option.textContent = country.name;
                                            option.setAttribute('selected', country.is_selected);

                                            select.appendChild(option);
                                        });

                                    });
                                });

                            // Event delegation for dynamically created selects
                            document.getElementById('addresses-container').addEventListener('change', function (event) {
                                if (event.target.matches('[id^="countrySelect"]')) {
                                    const index = event.target.id.replace('countrySelect', '');
                                    const countryId = event.target.value;
                                    const stateSelect = document.getElementById(`stateSelect${index}`);
                                    stateSelect.innerHTML = '<option value="">Select State...</option>'; // Reset states
                                    stateSelect.disabled = true; // Disable until states are loaded

                                    if (countryId) {
                                        fetch(`${window.apiUrl}/states/${countryId}/countries`)
                                            .then(response => response.json())
                                            .then(data => {
                                                data.states.forEach(state => {
                                                    const option = document.createElement('option');
                                                    option.value = state.id; // Use the ID for API calls
                                                    option.textContent = state.name;
                                                    stateSelect.appendChild(option);
                                                });
                                                stateSelect.disabled = false; // Enable states select
                                            });
                                    }
                                }

                                if (event.target.matches('[id^="stateSelect"]')) {
                                    const index = event.target.id.replace('stateSelect', '');
                                    const stateId = event.target.value;
                                    const citySelect = document.getElementById(`citySelect${index}`);
                                    citySelect.innerHTML = '<option value="">Select city...</option>'; // Reset cities
                                    citySelect.disabled = true; // Disable until cities are loaded

                                    if (stateId) {
                                        fetch(`${window.apiUrl}/cities/${stateId}/states`)
                                            .then(response => response.json())
                                            .then(data => {
                                                data.cities.forEach(city => {
                                                    const option = document.createElement('option');
                                                    option.value = city.id; // Use the ID for API calls
                                                    option.textContent = city.name;
                                                    citySelect.appendChild(option);
                                                });
                                                citySelect.disabled = false; // Enable cities select
                                            });
                                    }
                                }

                            });

                        });

                        document.addEventListener('DOMContentLoaded', function () {
                            window.authRequired();
                        });

                    </script>

                    <!-- Alternative shipping address -->
                    <div class="border-bottom py-4">
                        <div class="nav flex-nowrap align-items-center justify-content-between pb-1 mb-3">
                            <div class="d-flex align-items-center gap-3 me-4">
                                <h2 class="h6 mb-0">Alternative shipping address</h2>
                            </div>
                            <a class="disabled rounded-pill text-bg-default nav-link hiding-collapse-toggle text-decoration-underline p-0 collapsed"
                                data-bs-toggle="collapse" aria-expanded="false"
                                aria-controls="alternativeAddressPreview alternativeAddressEdit">Edit</a>
                        </div>
                        <div class="collapse alternative-address show" id="alternativeAddressPreview">
                            <ul class="list-unstyled fs-sm m-0">
                                <li>Ajah 32806, Lagos - Nigeria</li>
                                <li>Block E1, Shop 01, East Line Shopping Complex.</li>
                            </ul>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</main>
{% endblock content %}