{% extends "incs/base.html" %}
{% block title %} Settings - Laundry And Fashion {% endblock title %}

{% block content %}
{% include 'incs/modals/add_plan_modal.html' %}

  <!-- Page content -->
  <main class="content-wrapper">
    <div class="container py-5 mt-n2 mt-sm-0">
      <div class="row pt-md-2 pt-lg-3 pb-sm-2 pb-md-3 pb-lg-4 pb-xl-5">

        <!-- Sidebar navigation that turns into offcanvas on screens < 992px wide (lg breakpoint) -->
        {% include 'incs/user_pages/sidebar.html' %}

        <!-- Personal info content -->
        <div class="col-lg-9">
          <div class="ps-lg-3 ps-xl-0">

            <!-- Page title -->
            <h1 class="h2 mb-1 mb-sm-2" id="user_id">Personal info</h1>

            <!-- Basic info -->
            <div class="border-bottom py-4">
              <div class="nav flex-nowrap align-items-center justify-content-between pb-1 mb-3">
                <h2 class="h6 mb-0">Basic info</h2>
                <a class="badge text-bg-info rounded-pill p-1 text-decoration-none hiding-collapse-toggle collapsed" href=".basic-info"
                  data-bs-toggle="collapse" aria-expanded="false"
                  aria-controls="basicInfoPreview basicInfoEdit">Edit</a>
              </div>
              <div class="basic-info collapse show" id="basicInfoPreview" style="">
                <ul class="list-unstyled fs-sm m-0">
                  <li class="name_0">Dunis Dev</li>
                  <li class="username">coding-intstructor</li>
                </ul>
              </div>
              <div class="basic-info collapse" id="basicInfoEdit" style="">
                <form id="basic_info_update_form" data-user-id="" class="row g-3 g-sm-4 needs-validation" method="POST" action="users/0" novalidate="">
                  <div class="col-sm-6">
                    <label for="fn" class="form-label">Username</label>
                    <div class="position-relative">
                      <input type="text" class="form-control text-warning" disabled="true" name="username" id="username" placeholder="edet" required="">
                      <div class="invalid-feedback">Please enter your user name!</div>
                    </div>
                  </div>
                  <div class="col-sm-6">
                    <label for="ln" class="form-label">First and last names</label>
                    <div class="position-relative">
                      <input type="text" class="form-control" name="name" id="name" placeholder="Chris James" required="">
                      <div class="invalid-feedback">Please enter your fulll name!</div>
                    </div>
                  </div>

                  <div class="col-12">
                    <div class="d-flex gap-3 pt-2 pt-sm-0">
                      <button type="submit" class="btn btn-dark">Save changes</button>
                      <button type="button" class="btn btn-secondary collapsed" data-bs-toggle="collapse"
                        data-bs-target=".basic-info" aria-expanded="false"
                        aria-controls="basicInfoPreview basicInfoEdit">Close</button>
                    </div>
                  </div>
                </form>
              </div>
            </div>

            <!-- Contact -->
            <div class="border-bottom py-4">
              <div class="nav flex-nowrap align-items-center justify-content-between pb-1 mb-3">
                <div class="d-flex align-items-center gap-3 me-4">
                  <h2 class="h6 mb-0">Contact</h2>
                </div>
                <a class="nav-link hiding-collapse-toggle badge text-bg-info rounded-pill p-1 text-decoration-none collapsed" href=".contact-info"
                  data-bs-toggle="collapse" aria-expanded="false"
                  aria-controls="contactInfoPreview contactInfoEdit">Edit</a>
                  
              </div>
              <div class="contact-info collapse show" id="contactInfoPreview" style="">
                <ul class="list-unstyled fs-sm m-0">
                  <li class="email">chris.j@dunistech.ng</li>
                  <li class="phone">+2348138958645<span class="text-success ms-1">Verified</span></li>
                </ul>
              </div>
              <div class="contact-info collapse" id="contactInfoEdit" style="">
                <form id="contact_info_update_form" data-user-id="" class="row g-3 g-sm-4 needs-validation" method="POST" action="users"  novalidate="">
                  <div class="col-sm-6">
                    <label for="email" class="form-label">Email address</label>
                    <div class="position-relative">
                      <input type="email" name="email" class="form-control" id="email" placeholder="chris.j@dunistech.ng" required="">
                      <div class="invalid-feedback">Please enter a valid email address!</div>
                    </div>
                  </div>
                  <div class="col-sm-6">
                    <label for="phone" class="form-label">Phone number</label>
                    <div class="position-relative">
                      <input type="tel" name="phone" class="form-control" id="phone"
                        data-input-format="{&quot;numericOnly&quot;: true, &quot;delimiters&quot;: [&quot;+1 (&quot;, &quot;)&quot;, &quot; &quot;], &quot;blocks&quot;: [0, 3, 0, 3, 2, 2]}"
                        placeholder="+1 (___) ___ __ __" value="+1 (805) 348 95 72" required="">
                      <div class="invalid-feedback">Please enter your phone number!</div>
                    </div>
                  </div>
                  <div class="col-12">
                    <div class="d-flex gap-3 pt-2 pt-sm-0">
                      <button type="submit" class="btn btn-dark">Save changes</button>
                      <button type="button" class="btn btn-secondary collapsed" data-bs-toggle="collapse"
                        data-bs-target=".contact-info" aria-expanded="false"
                        aria-controls="contactInfoPreview contactInfoEdit">Close</button>
                    </div>
                  </div>
                </form>
              </div>
            </div>

            <!-- Password -->
            <div class="border-bottom py-4">
              <div class="nav flex-nowrap align-items-center justify-content-between pb-1 mb-3">
                <div class="d-flex align-items-center gap-3 me-4">
                  <h2 class="h6 mb-0">Password</h2>
                </div>
                <a class="nav-link hiding-collapse-toggle badge text-bg-info rounded-pill p-1 text-decoration-none collapsed"
                  href=".password-change" data-bs-toggle="collapse" aria-expanded="false"
                  aria-controls="passChangePreview passChangeEdit">Edit</a>
              </div>
              <div class="password-change collapse show" id="passChangePreview" style="">
                <ul class="list-unstyled fs-sm m-0">
                  <li>**************</li>
                </ul>
              </div>
              <div class="password-change collapse" id="passChangeEdit" style="">
                <form id="password_change_form" class="row g-3 g-sm-4 needs-validation" method="POST" action="users" novalidate="">
                  <div class="col-sm-6">
                    <label for="current-password" class="form-label">Current password</label>
                    <div class="password-toggle">
                      <input type="password" name="password" class="form-control" id="current-password"
                        placeholder="Enter your current password" required="">
                      <label class="password-toggle-button" aria-label="Show/hide password">
                        <input type="checkbox" class="btn-check"></label>
                    </div>
                  </div>
                  <div class="col-sm-6">
                    <label for="new-password" class="form-label">New password</label>
                    <div class="password-toggle">
                      <input type="password" name="new_password" class="form-control" id="new-password" placeholder="Create new password"
                        required="">
                      <label class="password-toggle-button" aria-label="Show/hide password">
                        <input type="checkbox" class="btn-check"></label>
                    </div>
                  </div>
                  <div class="col-12">
                    <div class="d-flex gap-3 pt-2 pt-sm-0">
                      <button type="submit" class="btn btn-dark">Save changes</button>
                      <button type="button" class="btn btn-secondary collapsed" data-bs-toggle="collapse"
                        data-bs-target=".password-change" aria-expanded="false"
                        aria-controls="passChangePreview passChangeEdit">Close</button>
                    </div>
                  </div>
                </form>
              </div>
            </div>

            <!-- Delete account -->
            <div class="pt-3 mt-2 mt-sm-3">
              <h2 class="h6">Delete account</h2>
              <p class="fs-sm">When you delete your account, your public profile will be deactivated immediately. If you
                change your mind before the 14 days are up, sign in with your email and password, and we'll send you a
                link to reactivate your account.</p>
              <button class="text-danger fs-sm fw-medium disabled border-0" disabled aria-disabled="true">Delete account</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </main>

  <script>
    document.addEventListener("DOMContentLoaded", () => {
   /*
   async function get_user() {
    try {
        // Fetch the current user data
        const data = await window.make_request(`${window.apiUrl}/users/current`);

        // Update the display for basic info
        
        document.querySelector('#user_id').setAttribute('data-user-id', data.id);
        document.querySelector('#basic_info_update_form').setAttribute('data-user-id', data.id);
        document.querySelector('.name_0').innerText = data.name;
        document.querySelector('.username').innerText = data.username;

        // Populate the input fields in the edit form
        document.getElementById('username').value = data.username;
        document.getElementById('name').value = data.name;
        document.getElementById('email').value = data.email;
        document.getElementById('phone').value = data.phone;

        // Update the contact info display
        document.querySelector('.email').innerText = data.email;
        document.querySelector('.phone').innerText = data.phone;

    } catch (error) {
        console.error('get-user-error', error);
        window.response_modal('get-user-error: ' + error.message);
    }
}

// Fetch user data on page load
window.onload = get_user();
  */

    const basic_info = document.getElementById('basic_info_update_form');
    if (basic_info) {
      basic_info.addEventListener('submit', (event) => {
        event.preventDefault(); // Prevent default form submission
        const userId = document.querySelector('#user_id').getAttribute('data-user-id');
        window.handleFormSubmit('basic_info_update_form', `users/${userId}`);
      });
    }

    const contact_info = document.getElementById('contact_info_update_form');
    if (contact_info) {
      contact_info.addEventListener('submit', (event) => {
            event.preventDefault(); // Prevent default form submission
            const userId = document.querySelector('#user_id').getAttribute('data-user-id');
            window.handleFormSubmit('contact_info_update_form',  `users/${userId}`);
        });
    }

    const password_change = document.getElementById('password_change_form');
    if (password_change) {
      password_change.addEventListener('submit', (event) => {
            event.preventDefault(); // Prevent default form submission
            const userId = document.querySelector('#user_id').getAttribute('data-user-id');
            window.handleFormSubmit('password_change_form',  `users/${userId}`);
        });
    }

    //
  });

  //
  document.addEventListener('DOMContentLoaded', function () {
    window.authRequired();
  });

  </script>

  {% endblock content %}